.navbar-1 {
background-color: rgb(33, 37, 41);
color: #ffffff;
}
.strt{
font-size: 20px;
margin-right: 16px;
padding: 5px 0px;
}

.navbar-1 ul li a{
    color: #ffffff8C;
    font-size: 16px;
}
.first {
    color: #ffffff;
}
.first-1{
    color: #ffffff80;
}